<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>



<%  ingredient_array = [] %>
<%  ingredient_array = Dose.select {|ingred| ingred.cocktail_id == @cocktail.id  } %> 
    <h2> <%= @cocktail.name %></h2>
<%  ingredient_array.each do |dose |  %>

  <%  this_ingredient = Ingredient.find(dose.ingredient_id)  %>
<ul>

  <%= dose.description %>
  <%= this_ingredient.name  %>
</ul> 



<% end  %>

<%= link_to 'Back', root_path %>

