<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<p>So this is where I think you should actually put together a new recipe</p>
<p>It is where we are adding new entries to doses under a particular cocktail</p>

<%= @cocktail.name %>

<h4>  Current Recipe </h4>

 <h5> Add Ingredient </h5>
<ul>
<!-- list each each ingredient in doses that corresponds to this cocktail id -->
</ul>

<%= link_to 'Back', root_path %>
<%= render 'form', dose: @dose %>